[submodule "third_party/litehtml"]
	path = third_party/litehtml
	url = https://github.com/litehtml/litehtml.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "third_party/picolibc"]
	path = third_party/picolibc
	url = https://github.com/Leonmmcoset/LeonOS-4-picolibc.git
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://github.com/mirror/busybox.git
