[submodule "third_party/litehtml"]
	path = third_party/litehtml
	url = https://github.com/litehtml/litehtml.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "third_party/picolibc"]
	path = third_party/picolibc
	url = https://github.com/Leonmmcoset/LeonOS-4-picolibc.git
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://github.com/mirror/busybox.git
[submodule "third_party/nano"]
	path = third_party/nano
	url = https://git.savannah.gnu.org/git/nano.git
[submodule "third_party/pl_editor"]
	path = third_party/pl_editor
	url = https://github.com/Leonmmcoset/pl_editor.git
[submodule "third_party/tinycc"]
	path = third_party/tinycc
	url = https://github.com/TinyCC/tinycc.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "third_party/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua.git
[submodule "third_party/file"]
	path = third_party/file
	url = https://github.com/file/file.git
[submodule "third_party/stardustui"]
	path = third_party/stardustui
	url = https://github.com/xingji-studio/StardustUI.git
[submodule "third_party/cmd"]
	path = third_party/cmd
	url = https://github.com/ChenPi11/cmd.git
[submodule "third_party/fastfetch"]
	path = third_party/fastfetch
	url = https://github.com/fastfetch-cli/fastfetch.git
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "third_party/sl"]
	path = third_party/sl
	url = https://github.com/mtoyoda/sl.git
