set timeout=5
set default=0
insmod serial
insmod terminal
insmod part_gpt
insmod fat
insmod multiboot2
set color_normal=light-gray/black
set color_highlight=black/light-gray
set gfxpayload=text
serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial

menuentry "LeonOS 4" {
    set root=(hd0,gpt1)
    multiboot2 /boot/loader.elf boot_disk=0 root=0:/ log=screen,serial autospawn=terminal
    boot
}

menuentry "LeonOS 4 (debug log)" {
    set root=(hd0,gpt1)
    multiboot2 /boot/loader.elf boot_disk=0 root=0:/ log=screen,serial debug=1 autospawn=hello autospawn=uidemo autospawn=terminal
    boot
}

menuentry "Reboot" {
    reboot
}
