set timeout=5
set default=0
insmod serial
insmod terminal
insmod fat
insmod iso9660
insmod multiboot2
insmod all_video
insmod font
insmod gfxterm
search --no-floppy --file /leonos-installer-iso.marker --set=root
loadfont /grub/fonts/leonos-unicode.pf2
set gfxmode=auto
set gfxpayload=keep
serial --unit=0 --speed=115200
terminal_input console serial
terminal_output gfxterm serial

menuentry "LeonOS 4 Live Desktop (musl + Vim + GCC)" {
    multiboot2 /loader.elf root=/ log=screen,serial mode=live startup=desktop
    module2 /system/kernel.sys leonos-kernel
    module2 /system/middlelayer.sys leonos-middlelayer
    module2 /install/root.fat leonos-installer-root
    boot
}

menuentry "LeonOS 4 Live Desktop (boot log)" {
    multiboot2 /loader.elf root=/ log=screen,serial mode=live startup=desktop bootlog=1
    module2 /system/kernel.sys leonos-kernel
    module2 /system/middlelayer.sys leonos-middlelayer
    module2 /install/root.fat leonos-installer-root
    boot
}
